*{
    margin: 0;
    padding-left:3px;
    list-style: none;
}
.yticon_panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    width: 2000px;
    position: fixed;
    background-color: white;
    


}
.yticon{
 /* border: 2px solid yellow;   */
 padding-top: 13px;
 padding-left: 15px;
}

.yt_panel2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* display: inline; */
    /* border: 2px solid blue; */
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid red; */
    /* padding-left: 50px; */
    
}

.yt_p{
    font-size: x-large;
    padding-top: 25px;
    /* font-family: 'Roboto'; */

}
.yt_p sup{
    font-size:small ;

}

.search_panel{ 
     display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 2px solid rgb(0, 255, 0); */
    padding-left: 500px;
    padding-top: 20px;
    width: 500px;
    padding-bottom: 20px;
    

} 
.panel{ 
     display: flex;
    flex-direction: row;
    /* padding-right: 0px ; */
}
.search{
    /* background-color: aquamarine; */

    height: auto;
    width: 80px;
    padding-top: 5px;
    padding-right: 50px;

}
.searchpanel{
    display: flex;
    /* padding-right: 00px; */
    /* border: 2px solid blueviolet; */
    padding-right: 50px;

}
.search input{
    color:aqua;
    height: 30px;
    width: 400px;
}
.mic{
    padding-left: 272px ; 
 
}
.menu_panel{
    /* border: 2px solid violet; */
    padding-top: 28px;
    /* padding-right: 8px; */
    padding-left: 10px;
}
.card{
    display: flex;
    /* border: 2px solid yellow; */
    border-radius: 30px;
    width: 33px;
    height: 33px;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    color: white;
}
.card p{
    font-size: x-large;
    padding-right:8px ;
}
.account_panel{
    display: flex;
    /* border: 2px solid yellow; */
    padding-left: 400px;
    padding-top: 12px;
    margin: 5px;
    width: 200px;
    
}
.notification{
    /* border: 2px solid ; */
    margin: 5px;

}
.video_icon{
    /* border: 2px solid; */
    margin: 5px;
}
.account{
    /* border: 2px solid; */
    margin: 5px;
}
.whole{
    display: flex;
    margin: 1px;
    /* border: 2px solid green; */
    width: 180px;
    height: auto;
}
.left_nav{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    width: 100px;
    margin-top: -1050px;
    position: fixed;
    background-color: white;
    
}
.home{
    margin: 10px;
}
.shorts{
    margin: 10px;
}
.vid{
    margin: 10px;
}
.subscriptions{
    margin: 10px;
}
.library{
    margin: 10px;
}
.all_cards{
    display: flex;
    /* padding-left: 120px; */
    /* padding-bottom: 300px; */
    /* border: 2px solid; */
    width: 1500px;
    margin-left: 230px;
    position: fixed;
    background-color: white;
    




}
.cards_whole{
    /* border: 2px solid blue; */
    padding-top: 80px
;

}
.home_cards{
    display: flex;
    flex-direction: row;
}
.card1{
    /* border: 2px solid; */
    border-radius: 6px;
    width: 38px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card2{
    /* border: 2px solid; */
    border-radius: 6px;
    width: 39px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card3{
    /* border: 2px solid; */
    border-radius: 6px;
    width: 48px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card4{
    /* border: 2px solid; */
    border-radius: 6px;
    width: 53px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card5{
    /* border: 2px solid; */
    border-radius: 6px;
    width: 53px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card6{
    /* border: 2px solid; */
    border-radius: 6px;
    width: 103px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card7{
    /* border: 2px solid; */
    border-radius: 6px;
    width: 93px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card8{
    border-radius: 6px;
    width: 93px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card9{
    border-radius: 6px;
    width: 193px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card10{
    border-radius: 6px;
    width: 128px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card11{
    border-radius: 6px;
    width: 78px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.card12{
    border-radius: 6px;
    width: 68px;
    height: 30px;
    margin: 10px;
    background-color: rgb(192, 190, 187);
    padding-top: 5px;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 180px; */
    /* border: 2px solid yellow; */
    /* margin: 100px; */
    padding-bottom: px;

}
.nav_bar{
    
}
/* .panel_whole{
    border: 2px solid green ;
    display: flex;
    padding-bottom: 100px;
    margin-top:-580px;
    width: fit-content;
     */
/* } */
.videos_whole{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    margin-left: 280px;
    padding-top: 80px;
}
.video1{
    margin: 15px;
    
    
}
.video{
    
}
.logo img{
    border-radius: 30px;
    /* border: 2px solid; */
}
.logo{
    /* border: 1px solid green; */
}
.details{
    /* border: 2px solid; */
    display: flex;
}
.description{
    /* border: 2px solid red; */
}

